<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University INFO</title>
</head>
<body>
    Университет: {{json.name}} <br>
    Ректор: {{json.rector}} <br>
    Местоположение: {{json.location.postcode}}, {{json.location.city}}, {{json.location.address}} <br>
    Кол-во административных подразделений: {{count_admin_units}}<br>
    Кол-во научно-образовательных подразделений: {{count_edu_units}} <br>
    Кол-во мегафакультетов: {{count_mega_facs}}<br>
    Кол-во факультетов: {{count_facs}} <br>
    Кол-во кафедр: {{count_cathedr}} <br>
    Кол-во студентов: {{ count_students }}
</body>
</html>